
* { padding: 0; margin: 0; }

ul, ol, li { list-style: none; }

a { text-decoration: none; }

body {
  font-family: Verdana, "Microsoft JhengHei", "sans-serif";
  font-size: 16px;  background: #eeeeee;  min-width: 800px; }

header {
  height: 80px;  min-width: 1000px;
  background: #f8bfbf;
  position: relative;
}

#logo {
  position: absolute; top: 10px; left: 30px;
  font-size: 1.5em;
  height: 60px;
}
#logo img {
  vertical-align: middle;  margin-right: 10px;
}

nav {
  position: absolute; right: 10px; top: 10px;
}
nav div {
  padding: 10px;  line-height: 30px;
  margin: 0 10px;  color: #000;
  display: inline-block;
  position: relative; cursor: pointer;  /* 目的為加底線的定位 */
}
nav div:after{
  content: ''; transition: all .2s; transform: scaleX(0);
  position: absolute; bottom: 0; left: 0;
  border-bottom:  3px solid #000; width: 100%;
}
nav div:hover:after{
  transform: scaleX(1);
}
/* #slider =========================================== */
#slider{
  position: relative;
  /* height: 347px;  暫訂 */
}
#slider img{
  /* display: block; */
  width: 100%; height: auto;
  position: absolute; top: 0; left: 0;
  opacity: 0;
}
#slider img:nth-of-type(1){
  opacity: 1;
}

.sliderTab{
  position: absolute; bottom: 0; left: 0; z-index: 1;
  background: rgba(0, 0, 0, 0.377);
  height: 50px; width: 100%;
}
.sliderTab a{
  display: inline-block; width: 20%;
  border-right: 1px solid #f57c00; box-sizing: border-box;
  color: #EFAF00; text-align: center; line-height: 50px;

  position: relative;
  filter: drop-shadow(0 -1px 1px #000);
}
.sliderTab:last-child{
  border-right: none;
}
.sliderTab .on{
  background:#EFAF00; color:#fff; text-shadow: 1px 1px #000;
}
.sliderTab .on:before{
  content: "";
  border-bottom: 10px solid #EFAF00;
  border-left:10px solid transparent; border-right:10px solid transparent;
  position: absolute; top: -9px; left: 50%; transform: translateX(-50%);
}

.sliderTab a.hover{
  position: relative;
}
/* .hovering 前面一定要加 #slider 讓優先權提高 */
#slider .hoverimg{
  width:200px; height: 60px; border-radius: 10px;
  box-shadow: 1px 1px 3px #000; border: 1px solid #fff;
  position: absolute; top: -75px; left: 50%; transform: translateX(-50%);
}

/* #slider =========================================== */
section{
  min-height: 100vh;
}


/*.gotop ===============================================*/
.gotop{ position: fixed; bottom: 30px; right: 30px;
  width: 60px; height: 60px; line-height: 60px; text-align: center;
  background: rgba(65,64,64,0.6); text-shadow: 1px 1px #000;color: #fff;
  border-radius: 10px; cursor: pointer;
}

/*.ADmenu===============================================*/
.ADmenu{ z-index: 101;
  width:80px; height:300px; background:url(../images/AD1.png);
  position:absolute; right: 0; bottom:20px; cursor: pointer;
}