
* { padding: 0; margin: 0; }

ul, ol, li { list-style: none; }

a { text-decoration: none; }

body {
  font-family: Verdana, "Microsoft JhengHei", "sans-serif";
  font-size: 16px;  background: #eeeeee;  min-width: 800px; }

header {
  height: 80px;  min-width: 1000px;
  background: #f8bfbf;
  position: relative;
}

#logo {
  position: absolute; top: 10px; left: 30px;
  font-size: 1.5em;
  height: 60px;
}
#logo img {
  vertical-align: middle;  margin-right: 10px;
}

nav {
  position: absolute; right: 10px; top: 10px;
}
nav div {
  padding: 10px;  line-height: 30px;
  margin: 0 10px;  color: #000;
  display: inline-block;
  position: relative; cursor: pointer;  /* 目的為加底線的定位 */
}
nav div:after{
  content: ''; transition: all .2s; transform: scaleX(0);
  position: absolute; bottom: 0; left: 0;
  border-bottom:  3px solid #000; width: 100%;
}
nav div:hover:after{
  transform: scaleX(1);
}
